{% extends "base.html" %}


{% block header %}Add Feed{% endblock %}
{% block content %}
    <form autocomplete="false" method="post">
        <fieldset>
            <label for="field-url"> URL </label>
            <input type="url" name="url" id="field-url" placeholder="https://url.to/rss/feed/">

            <button class="button-primary" type="submit"> Add </button>
            <a class="button button-clear" href="{{ url_for('home') }}"> Cancel </a>
        </fieldset>
    </form>
{% endblock %}
