{% extends "base.html" %}

{% block content %}
    <main role="main">
        <section class="container">
            <header>
                <h2> Add Feed </h2>
            </header>

            <form>
                <fieldset>
                    <label for="field-url"> URL </label>
                    <input type="text" name="url" id="field-url">

                    <button class="button-primary" type="submit"> Add </button>
                </fieldset>
            </form>
        </section>
    </main>
{% endblock %}
