{% extends "base.html" %}


{% block header %}Feed: {{ feed.title }}{% endblock %}


{% block content %}
    <link rel="stylesheet" href="{{ url_for("static", filename="feeds.css") }}">

    <form autocomplete="off" method="post">
        {{ form.csrf_token }}

        <fieldset>
            {{ render_field(form.url, placeholder="http://url.to/feed.rss") }}
            <div class="row">
                <div class="column">
                    {{ render_field(form.title, placeholder="Feed Title") }}
                </div>
                <div class="column column-auto">
                    <label> Use Original </label>
                    <button
                        class="button button-outline"
                        id="copy-from-original"
                        data-value="{{ feed.original }}"
                    >
                        Copy from feed data
                    </button>
                </div>
            </div>
            {{ render_field(form.filter, placeholder="Text to contain") }}

            <button class="button-primary" type="submit" name="action" value="save"> Save </button>
            <button class="button-outline float-right" type="submit" name="action" value="delete"> Delete (no confirm!) </button>
        </fieldset>
    </form>

    <p>
        Entries found: {{ feed.entries|length }}
        {% if feed.filter %}
            <br>
            Filtered: {{ feed.filtered|length }}
        {% endif %}
    </p>

    {% for entry in feed.filtered %}
        <blockquote class="feed-entry">
            <h4> {{ entry.title }} </h4>

            <p>
                {% if entry.published %}
                    Published: {{ entry.published }}<br>
                {% endif %}
                Updated: {{ entry.updated }}<br>
                {% if entry.timestamp %}
                    <span class="utc">UTC: {{ entry.timestamp }}</span><br>
                {% endif %}
                URL: <a href="{{ entry.url }}" target="_blank" rel="noopener">{{ entry.url }}</a>
            </p>

            {% if entry.summary %}
                <div class="feed-content {{ entry.domain }}">
                    {{ entry.summary }}

                    {% if entry.content %}
                        <details>
                            <summary> Content Preview </summary>
                            {% for content in entry.content %}
                                {{ content.value|safe }}
                            {% endfor %}
                        </details>
                    {% endif %}
                </div>
            {% endif %}
        </blockquote>
    {% endfor %}
{% endblock %}


{% block footer %}
    {{ super() }}

    <script>
        let button = document.querySelector('#copy-from-original');
        button.addEventListener('click', e => {
            e.preventDefault();
            let value = button.dataset.value;
            let input = document.querySelector('#title');
            input.value = value;
        });
    </script>
{% endblock %}

