{% extends "base.html" %}


{% block header %}Feed: {{ feed.title }}{% endblock %}


{% block content %}
    <form autocomplete="off" method="post">
        {{ form.csrf_token }}

        <fieldset>
            {{ render_field(form.url, placeholder='http://url.to/feed.rss') }}
            <div class="row">
                <div class="column">
                    {{ render_field(form.title, placeholder='Feed Title') }}
                </div>
                <div class="column column-auto">
                    <label> Use Original </label>
                    <button
                        class="button button-outline"
                        id="copy-from-original"
                        data-value="{{ feed.original }}"
                    >
                        Copy from feed data
                    </button>
                </div>
            </div>
            {{ render_field(form.filter, placeholder='Text to contain') }}

            <button class="button-primary" type="submit"> Save </button>
        </fieldset>
    </form>
{% endblock %}


{% block footer %}
    {{ super() }}

    <script>
        let button = document.querySelector('#copy-from-original');
        button.addEventListener('click', e => {
            e.preventDefault();
            let value = button.dataset.value;
            let input = document.querySelector('#title');
            input.value = value;
        });
    </script>
{% endblock %}

