{% extends "base.html" %}


{% block header %}Feed List{% endblock %}

{% block content %}
    <article id="feed-list">
        {% if feeds %}
            <ul>
                {% for feed in feeds %}
                    <li> {{ feed.url }} </li>
                {% endfor %}
            </ul>
        {% else %}
            <p> No feeds saved. </p>
        {% endif %}
    </article>

    <nav role="navigation">
        <a class="button" href="{{ url_for('add_feed') }}"> Add Feed </a>
    </nav>
{% endblock %}
