{% extends "base.html" %}


{% block header %}Feed List{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for("static", filename="feeds.css") }}">

    <article id="feed-list">
        {% if feeds %}
            <ul>
                {% for feed in feeds %}
                <li>
                    <a href="{{ url_for("feed", feed_id = feed.id) }}"> {{ feed.title }} </a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p> No feeds saved. </p>
        {% endif %}
    </article>

    <nav role="navigation">
        <a class="button" href="{{ url_for('add') }}"> Add Feed </a>
    </nav>
{% endblock %}
