{% extends "base.html" %}


{% block header %}Feed: {{ feed.title }}{% endblock %}


{% block content %}
    <nav role="navigation">
        <a class="button button-outline" href="{{ url_for('home') }}"> Back </a>
    </nav>

    <p>
        Feed URL: <a href="{{ feed.url }}">{{ feed.url }}</a>
    </p>

    {% if feed.exception %}
        <blockquote>
            {{ feed.exception }}
        </blockquote>
    {% endif %}

    {% for entry in feed.entries %}
        <blockquote class="feed-entry">
            <h4> {{ entry.title }} </h4>

            {{ entry.updated }}

            <div class="feed-content">
                {{ entry.summary }}

                <details>
                    <summary> Content Preview </summary>
                    {% for content in entry.content %}
                        {{ content.value|safe }}
                    {% endfor %}
                </details>
            </div>
        </blockquote>
    {% endfor %}
{% endblock %}
