{% extends "base.html" %}


{% block header %}Feed: {{ feed.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="column">
            <article id="feed">
                Feed URL: {{ feed.url }}
            </article>

            <nav role="navigation">
                <a class="button button-outline" href="{{ url_for('home') }}"> Back </a>
            </nav>
        </div>

        <div class="column column-67">
            {% for entry in feed.entries %}
                <blockquote class="feed-entry">
                    <h4> {{ entry.title }} </h4>

                    {{ entry.updated }}

                    <div class="feed-content">
                        {{ entry.summary|safe }}

                        <details>
                            <summary> Content Preview </summary>
                            {% for content in entry.content %}
                                {{ content.value|safe }}
                            {% endfor %}
                        </details>
                    </div>
                </blockquote>
            {% endfor %}
        </div>
    </div>
{% endblock %}

