{% extends "base.html" %}


{% block header %}Feed: {{ feed.title }}{% endblock %}


{% block content %}
    <form autocomplete="off" method="post">
        {{ form.csrf_token }}

        <fieldset>
            {{ render_field(form.url, placeholder='http://url.to/feed.rss') }}
            {{ render_field(form.title, placeholder='Feed Title') }}
            {{ render_field(form.filter, placeholder='Text to contain') }}

            <button class="button-primary" type="submit"> Save </button>
        </fieldset>
    </form>

    <nav role="navigation">
        <a class="button button-outline" href="{{ url_for('home') }}"> Back </a>
    </nav>
{% endblock %}

